@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 50px minmax(300px, 600px) 1fr;
  gap: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  background: transparent;
}

.header {
  background-color: #EF4444;
  padding: 15px 50px;
  margin-top: 40px;
  grid-column: 3/-1;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header ul li {
  padding: 5px 10px;
}
.header ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
}

.section {
  margin-bottom: 40px;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 50px 240px 1fr;
  gap: 20px;
}
.section .title {
  grid-column: 1/-1;
  font-family: "Lexend Deca";
  font-size: 8rem;
  font-weight: 600;
  color: #222;
}
.section .section-list {
  grid-column: 2/3;
  height: 300px;
  overflow-y: auto;
  margin-right: 20px;
}
.section .section-container {
  grid-column: 3/4;
}
.section .section-container .section-item {
  margin-bottom: 40px;
}
.section .section-container .section-item .subtitle {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 110%;
  font-family: "Poppins", sans-serif;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.section .section-container .section-item .subtitle::before {
  content: "";
  background-color: #EF4444;
  width: 20px;
  height: 10px;
}
.section .section-container .section-item .description {
  font-size: 1.6rem;
  line-height: 150%;
  color: #4d4d4d;
}
.section .section-container .section-item .description + .description {
  margin-top: 6px;
}
.section .section-container .section-item blockquote {
  padding-top: 10px;
}
.section .section-container .section-item blockquote p {
  line-height: 150%;
  color: #1a1a1a;
}
.section .section-container .section-item blockquote footer {
  font-style: italic;
  margin-top: 10px;
}
.section .section-container .section-item blockquote footer cite {
  font-weight: 700;
}

.faq-list {
  grid-column: 2/-1;
}
.faq-list details, .faq-list dd {
  margin-bottom: 20px;
}
.faq-list details summary, .faq-list dt {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.faq-list details summary::after, .faq-list dt::after {
  content: "▼";
  font-size: 1.6rem;
}
.faq-list details summary.active::after, .faq-list dt.active::after {
  content: "▲";
}
.faq-list details, .faq-list dd {
  font-size: 1.6rem;
  color: #555;
  line-height: 1.5;
  margin-top: 5px;
}
.faq-list details summary::marker {
  content: none;
}

#contact .map {
  grid-column: 2;
}
#contact .contact-content {
  grid-column: 3;
  margin-left: 20px;
}
#contact .contact-content ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#contact .contact-content ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
#contact .contact-content ul li::before {
  content: "";
  width: 20px;
  height: 10px;
  background-color: #EF4444;
}
#contact .contact-content ul li a {
  font-size: 2rem;
}

.footer {
  grid-column: 3/-1;
  background-color: #EF4444;
  padding: 20px 50px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.js .section-item {
  display: none;
}
.js .section-item.active {
  display: block;
}

.js .faq-list dd {
  display: none;
}
.js .faq-list dd.active {
  display: block;
}

@media (width < 1060px) {
  .header, .footer {
    grid-column: 1/-1;
    margin-block: 0;
  }
  .header {
    padding: 15px 20px;
  }
  .header ul {
    flex-wrap: wrap;
  }
}
@media (width < 768px) {
  body {
    grid-template-columns: 1fr;
  }
  .section {
    grid-template-columns: 180px 1fr;
    grid-column: 1;
    gap: 8px;
    padding-inline: 20px;
  }
  .section .title {
    font-size: 4.8rem;
  }
  .section .section-list {
    grid-column: 1;
  }
  .section .section-container {
    grid-column: 2;
  }
  .faq-list {
    grid-column: 1/3;
  }
  #contact {
    display: grid;
    gap: 40px;
  }
  #contact .map {
    grid-column: 1/3;
  }
  #contact .map img {
    width: 100%;
  }
  #contact .contact-content {
    grid-column: 1/3;
  }
}

/*# sourceMappingURL=style.css.map */
